#Specials {
    width: 80%;
    height: 80vh;
    border: 1px solid black;
    background-color: red;
    overflow: scroll;
    position: fixed;
    top: 10vh;
    left: 10%;
     display: none; 
}
    article {text-align: center;}

    ol {
        width: 12em;
        text-align: left;
        margin: 0 calc(50% - 6em);
    }
    
    ul {
        width: 10em;
        text-align: left;
        margin: 0 calc(50% - 5em)
    }
